<div>
	<div id="payment-element"></div>
	<div id="error-message" style="color: red;"></div>
	<input
		hidden
		id="{{ id }}"
		type="{{ input_type ?? 'text' }}"
		name="{{ handle }}"
		{{ if validate|contains:required }}required{{ /if }}
		{{ if error }}
				aria-invalid="true" aria-describedby="{{ id }}-error"
		{{ /if }}
	>
</div>
<script src="https://js.stripe.com/v3/"></script>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		const stripeScript = document.querySelector('script[src="https://js.stripe.com/v3/"]');

		stripeScript.onload = function() {
			const stripe = Stripe('{{api_key}}');
			const elements = stripe.elements();
			const card = elements.create('card');
			card.mount('#payment-element');

			card.on('change', async function(event) {
				handleError('');
				if (event.complete) {

					const {token, error} = await stripe.createToken(card);

					if (error) {
						handleError(error.message);
						return;
					}

					const input = document.getElementById('{{ id }}');
					input.value = token.id
				}

				if (event.error) {
					handleError(event.error.message);
				}
			});

			const handleError = (error) => {
				const messageContainer = document.querySelector('#error-message');
				messageContainer.textContent = error;
			};
		};
	});
</script>
